---
import { ExternalLink } from "@lucide/astro";
import { CardContent, CardRedirect } from "../ui/card";
---

<CardRedirect
  class="order-8 justify-center md:order-6 lg:order-12"
  href="/experience"
>
  <CardContent>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Certificates <ExternalLink />
    </div>
  </CardContent>
</CardRedirect>
