---
import { ExternalLink } from "@lucide/astro";
import { CardContent, CardRedirect } from "../ui/card";
---

<CardRedirect
  class="order-10 justify-center md:order-8 lg:order-13"
  href="/certificate"
>
  <CardContent>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Certificates <ExternalLink />
    </div>
  </CardContent>
</CardRedirect>
