---
import { Copyright } from "@lucide/astro";
import { Card, CardContent } from "../ui/card";
import { Separator } from "../ui/separator";
---

<Card class="order-12 md:col-span-3 lg:col-span-1 lg:row-span-2">
  <CardContent class="flex justify-center items-center gap-1.5 text-xs text-muted-foreground leading-none">
    <p class="flex items-center gap-1">
      <Copyright size="15" /> 2026 
    </p>
    <Separator orientation="vertical" class="py-2" /> 
    <span>Made by Me using <a href="https://astro.build/" target="_blank" class="text-[#FF91A4] hover:underline">Astro</a>.</span>
  </CardContent>
</Card>
