---
import { Card, CardContent } from "../ui/card";
---

<Card class="row-span-1">
  <CardContent>
    <p class="text-muted-foreground text-xs uppercase tracking-widest">
      Status
    </p>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Looking for Work
    </div>
  </CardContent>
</Card>