---
import { Card, CardContent } from "../ui/card";
---

<Card class="order-8 md:order-9 lg:order-8">
  <CardContent>
    <p class="text-muted-foreground text-[0.6rem] uppercase tracking-wide">
      Status
    </p>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Looking for Work
    </div>
  </CardContent>
</Card>