---
import { ExternalLink } from "@lucide/astro";
import { CardContent, CardRedirect } from "../ui/card";
---

<CardRedirect
  class="order-4 justify-center md:order-7 lg:order-6"
  href="/experience"
>
  <CardContent>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Experiences <ExternalLink />
    </div>
  </CardContent>
</CardRedirect>
