---
import { ExternalLink } from "@lucide/astro";
import { CardContent, CardRedirect } from "../ui/card";
---

<CardRedirect
  class="order-9 justify-center md:order-4 lg:order-10"
  href="/project"
>
  <CardContent>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Projects <ExternalLink />
    </div>
  </CardContent>
</CardRedirect>
