---
import { ExternalLink } from "@lucide/astro";
import { CardContent, CardRedirect } from "../ui/card";
---

<CardRedirect
  class="order-5 md:order-3 lg:order-4 justify-center"
  href="/resume"
>
  <CardContent>
    <div class="scroll-m-20 text-xl font-semibold tracking-tight flex items-center justify-between">
      Resume <ExternalLink />
    </div>
  </CardContent>
</CardRedirect>
