---
import { Time } from "../ui/time";
import { Separator } from "../ui/separator";
import { Card, CardContent } from "../ui/card";
---

<Card class="order-11 row-span-2 lg:order-5">
  <CardContent class="h-full flex flex-col items-center justify-around gap-2">
    <div>
      <Time text="My Time" timezone="Asia/Jakarta" client:load />
    </div>
    <Separator />
    <div>
      <Time text="Your Time" client:load />
    </div>
  </CardContent>
</Card>