---
import Layout from "@/layouts/Layout.astro";
import { ExternalLink } from "@lucide/astro";
import { BackButton } from "@/components/ui/button";
import { CardAction, CardDescription, CardHeader, CardRedirect, CardTitle } from "@/components/ui/card";

const certs = [
  {
    title: 'Building Transformer-Based Natural Language Processing Applications',
    issuer: 'NVIDIA Deep Learning Institute',
    link: 'https://learn.nvidia.com/certificates?id=eC1lpJv9Q-GuvHkLzpMGtg'
  },
  {
    title: 'Foundational C# with Microsoft',
    issuer: 'freeCodeCamp',
    link: 'https://www.freecodecamp.org/certification/fcc17be0db4-7c4a-4afd-9f7d-e3103ee2de44/foundational-c-sharp-with-microsoft'
  },
  {
    title: 'C# (Basic)',
    issuer: 'HackerRank',
    link: 'https://www.hackerrank.com/certificates/iframe/db398b339b6e'
  },
  {
    title: 'SQL (Basic)',
    issuer: 'HackerRank',
    link: 'https://www.hackerrank.com/certificates/iframe/db398b339b6e'
  },
  {
    title: 'SQL (Intermediate)',
    issuer: 'HackerRank',
    link: 'https://www.hackerrank.com/certificates/iframe/d29d9a38906c'
  },
  {
    title: 'SQL (Advanced)',
    issuer: 'HackerRank',
    link: 'https://www.hackerrank.com/certificates/iframe/8aa89fb5ccc2'
  },
]
---

<Layout>
  <main class="mx-auto flex w-full max-w-4xl flex-1 flex-col gap-4 rounded-xl p-4">
    <BackButton />
    <h2 class="scroll-m-20 pt-4 text-3xl font-semibold tracking-tight transition-colors first:mt-0">
      Certificates
    </h2>
    <div class="grid md:grid-cols-2 gap-6">
      {certs.map(c => (
        <CardRedirect href={c.link} target="_blank" class="min-h-32">
          <CardHeader>
            <CardTitle>{c.title}</CardTitle>
            <CardDescription>{c.issuer}</CardDescription>
            <CardAction><ExternalLink /></CardAction>
          </CardHeader>
        </CardRedirect>
      ))}
    </div>
  </main>
</Layout>