---
import Layout from "@/layouts/Layout.astro";
import { BackButton } from "@/components/ui/button";
import { Card, CardAction, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";

const exps = [
  {
    company: 'PT Evotech Distribusi',
    role: 'Web Developer Intern',
    date: '2025 - 2026',
    works: [
      'Developed REST APIs and integration services using .NET (C#) Framework to synchronize data between internal applications and external financial management system.',
      'Integrated RabbitMQ to enable asynchronous processing.',
      'Designed and implemented reusable application layout templates using Blazor (Radzen) adopted across multiple internal systems..'
    ]
  },
  {
    company: 'IT Division Bina Nusantara',
    role: 'Programmer Associate Member',
    date: '2024 - 2025',
    works: [
      'Built dashboard modules using Laravel, Blade, and MySQL for certificate management system.',
      'Implemented QR functionality by encoding document identifiers into URLs and handling server-side validation.',
      'Debugged and optimized dynamic Surat Keterangan (SK) templates to fix formatting and data binding issues.'
    ]
  },
]
---

<Layout>
  <main class="mx-auto flex w-full max-w-4xl flex-1 flex-col gap-4 rounded-xl p-4">
    <BackButton />
    <h2 class="scroll-m-20 pt-4 text-3xl font-semibold tracking-tight transition-colors first:mt-0">
      Experiences
    </h2>
    <div class="grid gap-6">
      {exps.map(e => (
        <Card class="min-h-60">
          <CardHeader>
            <CardTitle>{e.company}</CardTitle>
            <CardDescription>{e.role}</CardDescription>
            <CardAction class="font-semibold">{e.date}</CardAction>
          </CardHeader>
          <CardContent>
            <ul class="ml-6 list-disc [&>li]:mt-2">
              {e.works.map(w => (
                <li>{w}</li>
              ))}
            </ul>
          </CardContent>
        </Card>
      ))}
    </div>
  </main>
</Layout>