---
import Layout from "../layouts/Layout.astro";
import Resume from "@/components/grid/Resume.astro";
import Contact from "@/components/grid/Contact.astro";
import Project from "@/components/grid/Project.astro";
import Experience from "@/components/grid/Experience.astro";
import Certificate from "@/components/grid/Certificate.astro";
import Copyright from "@/components/grid/Copyright.astro";
import Current from "@/components/grid/Current.astro";
import PowerButton from "@/components/grid/PowerButton.astro";
import Time from "@/components/grid/Time.astro";
import Summary from "@/components/grid/Summary.astro";
import AboutMe from "@/components/grid/AboutMe.astro";
---

<Layout>
  <main class="mx-auto flex h-screen w-full max-w-7xl flex-1 flex-col gap-4 rounded-xl py-8">
    <div class="grid grid-cols-4 grid-rows-8 gap-4 h-full">
      <Summary />
      <AboutMe />
      <Resume />
      <Time />
      <Experience />
      <Contact />
      <Current />
      <Project />
      <PowerButton />
      <Copyright />
      <Certificate />
    </div>
  </main>
</Layout>
