---
import Layout from "@/layouts/Layout.astro";
import { BackButton } from "@/components/ui/button";
---

<Layout>
  <main class="mx-auto flex h-screen w-full max-w-4xl flex-1 flex-col gap-4 rounded-xl p-4">
    <BackButton />
    <iframe src="/resume.pdf" class="h-full"></iframe>
  </main>
</Layout>