---
import Layout from "@/layouts/Layout.astro";
import { BackButton } from "@/components/ui/button";
---

<Layout>
  <main class="mx-auto flex h-screen w-full max-w-4xl flex-1 flex-col gap-4 rounded-xl p-4">
    <BackButton />
    <h2 class="scroll-m-20 pt-4 text-3xl font-semibold tracking-tight transition-colors first:mt-0">
      Resume
    </h2>
    <iframe src="/resume.pdf" class="h-full"></iframe>
  </main>
</Layout>